#sectionCard{
    background-color: black;
    padding-bottom: 70px;
  
  }
  .font-size{
    font-size: 12px;
  }
  .divider{
    padding-top: 20px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    /* margin-top: 50px; */

  }
.card {
    position: relative;
    border: none;
    height: 300px;
    width: 300px;
    margin-top: 20px;
  }
  
  .card-img-overlay {
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 0.25rem;

  }
  
  .card-overlay {
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
 .mrg{
  margin-left: 30px;
 }