.proHouse-text{
    color: rgb(176 211 87);
  }
  .proHouse-h1{
    font-weight: bold;
font-size: 30px;

  }
  .bg-clr{
    background-color: black;
  }
 .accordian-mrg{
    margin-top: 200px;
    margin-left: 50px;
    color: white;
 }

 .text-white-custom {
   
  }
  